body{
    background-color: #01806f;
}

.container{
    max-width: 500px;
    margin-top: 60px;
}

.todos li{
    background: #089c89    
}

input[type=text],
input[type=text]:focus{
    color:#fff;
    border: none;
    background: rgba(0,0,0,0.15);
}

.delete{
    cursor: pointer;
}
.filtered{
    display: none !important;
}